html, body
  height: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  font-size: 62.5%
  background: #333
  font-family: $font-title
  
.main
  position: relative
  width: calc(100% - 6em)
  max-width: 1400px
  margin: 3em auto
  overflow: hidden
  border-radius: .3em
  box-shadow: 0 0 10px #222
  
  @media $phone
    width: calc(100% - 3em)
    margin: 1.5em auto

// ----------------------------------------------------------------
// Header
// ----------------------------------------------------------------

.header
  position: relative
  background: url('../img/bg-header.jpg') no-repeat top center
  background-size: cover
  overflow: hidden
  z-index: 1
  height: 77em

  &:before
    content: ''
    width: 15em
    height: @width
    border-radius: 50%
    background: $color-secondary
    position: absolute
    top: -(@width / 2)
    left: -(@width / 2)
    z-index: -1
    
  &:after
    content: '#4'
    font-size: 2.8em
    color: $color-third
    display: inline-block
    position: absolute
    top: .4em
    left: @top
    z-index: 1

.header-wrapper
  position: relative
  display: flex
  width: 100%
  height: 100%
  z-index: 10
  max-width: 1000px
  padding: 0 3em
  margin: 0 auto
  
.header-content
  margin: auto

.header-logo
  width: 17em
  height: @width
  border-radius: 50%
  background: url('../svg/logo.svg') no-repeat center center rgba(#000, .05)
  background-size: 100%
  text-indent: -9999em
  position: absolute
  top: 50%
  right: 0
  margin-top: -(@height / 2)
  
  @media $phone
    position: static
    margin: 0 auto
    width: 36vh
    height: @width

.header-featured
  width: 60%
  
  @media $phone
    width: 100%
    text-align: center
    
.header-featured__divisor
  width: 80px
  height: 6px
  margin: 4em .3em
  border-radius: 20em
  background: #fff
  
  @media $phone
    margin: 3em auto

.header-featured__title
  font-family: $font-title
  font-size: 5em
  font-weight: normal
  color: #fff
  margin: 0
  
  @media $phone
    display: none
  
.header-featured__location
  margin: .5em 0 0 0
  font-size: 2em
  color: $color-secondary
  
  .bull
    color: #fff
    
  @media $phone
    .date, .location
      display: block
      
    .bull
      display: none
  
.header-button-cta
  @extends $button
  color: $color-third
  font-size: 2em
  background: $color-secondary
  border: 2px solid transparent
  margin-top: 0
  font-weight: 700
  transition: background .5s ease
  
  &:hover
    background: #fff
    
.header-button-c4p
  @extends $button
  color: #fff
  font-size: 2em
  text-align: center
  border: 2px solid rgba(#fff, .1)
  margin-top: 0
  margin-left: .7em
  font-weight: 700
  transition: border .5s ease
  
  &:hover
    border-color: #fff
    
  @media $phone
    margin-top: .3em
    margin-left: 0
    font-size: 1.4em

// ----------------------------------------------------------------
// Section: Features
// ----------------------------------------------------------------

.section-features
  background: #fcfcfc
  padding: 5em 0
  
  @media $phone
    padding: 3em 1em
  
.section-features-main
  padding: 10em 0
  
  @media $phone
    padding: 5em 0

.section-features-item
  position: relative
  padding-left: 30em
  padding-top: 1.5em
  padding-right: 15em
  margin-bottom: 10em
  
  @media $phone
    padding: 0 1em
    text-align: center
  
  &.right
    text-align: right
    padding-right: 30em
    padding-left: 15em
    
    @media $phone
      padding: 0 1em
      text-align: center
    
    .section-features-item__icon
      left: auto
      right: 1.5em
      
      @media $phone
        right: 0
      
      &:before
        left: auto
        right: -1em

.section-features-item__icon
  position: absolute
  left: 1.5em
  top: 0
  width: 18em
  height: @width
  box-shadow: 2em 2em 100px 0 #f5f5f5
  
  @media $phone
    position: relative
    height: 10em
    margin: 0 auto
    left: 0
    box-shadow: none
  
  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: #fff
    background-repeat: no-repeat
    background-size: 40%
    background-position: center center
    border-radius: 1em
    
    @media $phone
      background-color: transparent
  
  &:before
    content: ''
    position: absolute
    display: block
    width: 18em
    height: @width
    background: $color-secondary
    border-radius: 50%
    left: -1em
    bottom: -1em
    
    @media $phone
      display: none

  &.home
    &:after
      background-image: url('../img/icon-home.png')
      
  &.mic
    &:after
      background-image: url('../img/icon-mic.png')
      
  &.comment
    &:after
      background-image: url('../img/icon-comment.png')

.section-features-item__description
  h3
    color: #999
    font-size: 2.2em
    font-weight: 700
    margin: 0 0 .6em 0
    padding: 0
    
  p
    color: #ccc
    font-weight: 400
    font-size: 1.6em
    line-height: 1.8em
    margin: 0

// ----------------------------------------------------------------
// Section: Twitter
// ----------------------------------------------------------------

.section-twitter
  display: flex
  position: relative
  padding: 0
  height: 250px
  background: url('../img/bg-header.jpg') no-repeat center bottom
  
  &:before
    content: ''
    background-color: $color-primary
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    opacity: .8
    z-index: 1
  
.twitter-list
  display: block
  margin: auto
  padding: 0
  list-style: none
  z-index: 2
  
  @media $phone
    padding: 2em
  
.twitter-item
  text-align: center
  max-width: 700px
  margin: 0 auto
  display: block
  opacity: 0
  height: 0
  overflow: hidden
  
  &.active
    height: auto
    opacity: 1
    transition: opacity 1s ease
  
.twitter-item__tweet
  margin-top: 0
  font-size: 2.4em
  color: #f5f5f5
  
  @media $phone
    font-size: 1.8em
  
.twitter-item__metadata
  display: inline-block
  padding: .4em 1.5em .4em .6em
  border-radius: 20em
  transition: background ease .6s
  text-decoration: none
  
.twitter-item__avatar
  display: inline-block
  vertical-align: middle
  max-width: 4em
  border-radius: 50%
  
.twitter-item__username
  display: inline-block
  font-size: 1.8em
  vertical-align: middle
  line-height: 2em
  padding-left: .5em
  color: $color-secondary

// ----------------------------------------------------------------
// Section: Speakers
// ----------------------------------------------------------------

.section-speakers
  position: relative
  overflow: hidden
  padding: 5em 0
  background: #f5f5f5 + 20%
  box-shadow: 0 1em 20px rgba(#000, .003) inset
  border-top: 1px solid #f5f5f5
  
  @media $phone
    padding: 2em
  
  &:after
    content: ''
    width: 40em
    height: 40em
    border-top: 1px solid #f5f5f5
    position: absolute
    top: 5em
    left: 3em
    transform: rotate(-45deg)

.speakers-list
  padding: 3em 0
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.speaker-item
  background: #fff
  width: 23.5%
  padding: 1.5em
  margin-bottom: 7em
  box-shadow: 0 0 1em #f5f5f5 + 20%
  border-radius: .4em
  text-align: center
  
  @media $phone
    width: 48%
    height: auto
    margin-bottom: 2em

.speaker-avatar
  max-width: 100%
  border-radius: .3em
  
.speaker-name
  color: #666
  font-size: 2em
  margin: .5em 0 0 0
  
.speaker-talk
  color: $color-primary
  font-size: 1.4em
  font-weight: bold
  margin: .4em 0

.speaker-social
  text-align: center
  padding-top: .5em
  
.speaker-social-link
  display: inline-block
  width: 3em
  height: @width
  text-decoration: none
  margin: 0 3px
  background-position: top center
  background-size: 96%
  background-repeat: no-repeat
  opacity: .4
  transition: opacity .3s ease
  
  &:hover
    opacity: 1
  
  &.twitter
    background-image: url('../img/twitter-blue.png')
    
  &.github
    background-image: url('../img/github-black.png')

// ----------------------------------------------------------------
// Section: Tickets
// ----------------------------------------------------------------

.section-tickets
  position: relative
  padding: 7em 0
  background: url('../img/bg-tickets.jpg')
  background-position: 0 0 
  background-repeat: no-repeat
  background-size: cover
  height: 55em
  
  @media $phone
    height: 40em
    background-position: center center
  
  &:before
    content: ''
    background: #000
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    opacity: .4
    z-index: 1

  &:after
    content: ''
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    opacity: 1
    z-index: 2
    box-shadow: 0 -200px 300px -100px #222 inset

  .section-wrapper
    height: 100%
    display: flex

.tickets-content
  text-align: center
  margin: auto

.tickets-title
  font-size: 5em
  color: #fff
  margin: 0

.tickets-title__line
  display: inline-block
  width: 3em
  height: 22px
  position: relative
  
  @media $phone
    display: none
  
  &:before
    content: ''
    display: block
    position: absolute
    left: 0
    right: 0
    width: 100%
    height: 10px
    border-radius: 10em
    background: #fff
  
.tickets-lot
  font-size: 1.6em
  color: #888
  margin: .2em 0 0 0

.tickets-buy
  @extends $button
  font-size: 2em
  background: $color-primary
  color: #fff
  padding: .8em 2em
  margin-top: 1em
  transition: background .7s ease
  
  &:hover
    background: @background - 10%


// ----------------------------------------------------------------
// Section: Schedule
// ----------------------------------------------------------------

.section-schedule
  position: relative
  padding: 6em 0
  background: #f5f5f5
  
  @media $phone
    padding: 3em 0 20em
  
.schedule-content
  max-width: 650px
  margin: 2em auto
  padding: 2em
  font-size: 2em
  color: #ddd
  
  @media $phone
    padding: 2em 1.5em 2em 2em
  
.schedule-list
  border-left: 4px solid #eee
  list-style: none
  margin: 0
  padding: 0 0 0 2em
  
.schedule-item
  position: relative
  margin: 1.5em 0
  
  @media $phone
    margin: 1em 0
  
.schedule-item-hour
  position: absolute
  width: 80px
  background: #f5f5f5
  color: $color-text
  font-weight: bold
  text-align: center
  padding: .2em 0
  top: 50%
  margin-top: -17px
  left: -4.2em
  box-shadow: 0 0 20px 10px #f5f5f5

.schedule-item-box
  margin-left: 1em
  background: #fff
  display: flex
  padding: 1em 1.5em
  border-radius: 5px
  
  &.other
    background: none
    
    .schedule-item-title
      color: #aaa
  
.schedule-item-title
  margin: 0
  font-size: 1em
  color: $color-primary
  
  @media $phone
    font-size: .9em
  
.schedule-item-speaker
  margin: .2em 0 0 0
  color: $color-secondary
  font-size: .8em
  font-weight: bold
  
  @media $phone
    font-size: .8em
  
.schedule-alert
  color: #ccc
  font-size: .8em

// ----------------------------------------------------------------
// Section: Location
// ----------------------------------------------------------------

.section-location
  position: relative
  padding: 6em 0
  background: url('../img/bg-location.jpg') center center no-repeat, url('../img/bg-location-2.jpg') center center no-repeat
  background-size: cover
  height: 50em
  transition: background 1s ease
  
  @media $phone
    height: 30em
  
  .section-wrapper
    height: 100%
    display: flex
  
  &.multi
    background: url('../img/bg-location-2.jpg') center center no-repeat
    background-size: cover
    
  &:before
    content: ''
    position: absolute
    background: $color-third
    top: 0
    bottom: 0
    left: 0
    right: 0
    opacity: .3
    z-index: 1
    box-shadow: 0 0 300px #111 inset

.section-location-content
  text-align: center
  margin: auto

.location-title
  font-size: 4em
  color: #fff
  margin: 0
  
  @media $phone
    font-size: 2.8em

.location-address
  font-size: 2em
  color: #eee
  margin: .2em 0 0 0
  
  @media $phone
    font-size: 1.6em

.location-map-link
  @extends $button
  font-size: .8em
  background: $color-secondary
  color: $color-third
  padding: .5em 1.4em
  margin-top: 1em
  
  &:hover
    background: @background + 10%

// ----------------------------------------------------------------
// Section: Sponsors
// ----------------------------------------------------------------

.section-sponsors
  position: relative
  padding: 6em 0 0
  background: #fff
  
  @media $phone
    padding: 3em 0 0
  
.sponsors-content
  padding: 3em 0 6em
  font-size: 2em
  color: #ddd
  text-align: center
  
  @media $phone
    padding: 3em 0
  
  .item
    max-width: 18em
    display: inline-block
    text-decoration: none
    margin: 1em
    
    &.apoio
      max-width: 6em
      
      @media $phone
        max-width: 3em
    
    img
      max-width: 100%

// ----------------------------------------------------------------
// Footer
// ----------------------------------------------------------------

.footer
  background: #ddd

.footer-content
  padding: 3em 0
  text-align: center
  
.footer-mail
  font-size: 1.8em
  color: #555
  margin: 0 0 .8em 0
  
.footer-link
  font-size: 1.4em
  color: #777
  border-bottom: 1px solid #ccc
  text-decoration: none
  transition: all .7s ease
  
  &:hover
    border-color: #000
    color: #000
