$button
  display: inline-block
  padding: .6em 1.6em
  font-size: 1.6em
  color: #fff
  font-family: $font-title
  text-decoration: none
  border-radius: 4em
  margin: .5em 0
  text-align: center
  position: relative
