.section-wrapper
  max-width: 1000px
  margin: 0 auto
  position: relative
  z-index: 50

.section-title
  color: $color-primary
  font-size: 3.3em
  font-weight: 700
  text-align: center
  
  @media $phone
    font-size: 3em

.section-subtitle
  color: #bbb
  font-size: .6em
  font-weight: 400
  display: block
