
// colors

$color-primary   = #56be84
$color-secondary = #dade70
$color-third     = #232c57
$color-text      = #888

// breakpoints (devices)

$bp-tablet       = 880px
$bp-phone        = 580px

// semantic @media-queries

$tablet          = '(min-width: ' + ($bp-phone + 1) + ') and (max-width: ' + ($bp-tablet) + ')'
$phone           = '(max-width: ' + ($bp-phone) + ')'
$tablet-phone    = '(max-width: ' + ($bp-tablet) + ')'

// fonts

$font-default    = 'Arial', helvetica, sans-serif
$font-title      = 'Nunito', Arial, sans-serif
